.icon[data-app-state="loading"]:after {
  content: "";
  background: no-repeat top center url('images/app_install_spinner.png');
  background-size: contain;
  height: 8.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /**
  Keyframe must be defined outside of the web component.
  See bug 1018269
  */

  animation: rotate 2.25s linear infinite;
}

.icon[data-app-state="loading"] {
  /**
  We must align this value with the value of [data-app-state]:after height the background size
  here is overridden at the element level elsewhere which causes the spinner to be aligned too
  low.
  */
  background-size: 8.4rem !important;
  background-image: url('images/app_installing.png') !important;
}

.icon[data-app-state="unrecoverable"] {
  background-image: url('images/app_install_unrecoverable.png') !important;
}

.icon[data-app-state="error"] {
  background-image: url('images/app_install_failed.png') !important;
}

.icon[data-app-state="paused"] {
  background-image: url('images/app_install_canceled.png') !important;
}

.icon {
  position: absolute;
  transform-origin: 0 0;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  background: no-repeat top center;
  z-index: 3;
}

.dragging .icon {
  will-change: transform;
}

.icon.launching {
  opacity: .65;
}

/* XXX: Override the .remove element  */
.edit-mode .collection.hovered .remove {
  background: url(images/add.png) no-repeat;
}

.icon p {
  pointer-events: none;
  height: 3.2rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.icon .title {
  display: inline-block;
  margin-top: 0.1rem;
  /* We need this rule in order not to hide the drop shadow */
  padding: 0 0.2rem 1rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
               0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 0.4rem);
  box-sizing: border-box;
  vertical-align: top;
  transition: opacity 0.5s;
}

/* We allow more space for text in the search app by hooking into the text-rows attribute on gaia-grid. */
[text-rows="3"] .icon .title {
  height: 5.8rem;
}

[cols="4"] .icon .title {
  /* Font size is the same independent on grid configuration */
  font-size: calc(1.2rem * 1.333);
  margin-top: 0.5rem;
  line-height: 1.94rem;
}

.icon.collapsed {
  pointer-events: none;
}

.icon.collapsed .title {
  opacity: 0;
}

.icon.hidden {
  pointer-events: none;
  opacity: 0;
}

.divider {
  position: absolute;
  width: 100%;
  padding-top: 2.3rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  box-sizing: border-box;
  z-index: 2;
}

[cols="4"] .divider {
  padding-top: 1.6rem;
}

.divider span.spacer {
  position: absolute;
  bottom: 0;
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  margin: 0 25%;
  width: 50%;
  height: 0.2rem;
  transition: opacity 0.5s;
}

.dragging .icon.active:not(.hidden) {
  z-index: 5;
  opacity: 0.65;
}

.dragging .divider:not(.group),
.icon:not(.active),
.dropped {
  transition: transform 0.5s, opacity 0.5s;
}

.edit-mode .icon .remove {
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
  background: url(images/remove.png) no-repeat;
  background-size: 2rem;
  /*
  Ensure that remove is on top of the icon and has some extra
  padding so it is easy to click.
  */
  z-index: 200;
  padding: 0.5rem;
}

.icon .remove,
.icon.collapsed .remove,
.edit-mode .icon.active .remove {
  display: none;
}

.edit-mode .icon.editable .title {
  background-color: rgba(132, 132, 132, 0.7);
  border-radius: 2rem;
  margin-top: .4rem;
  padding: 0 1rem;
  width: auto;
  max-width: 100%;
}

#confirm-message {
  z-index: 100;
}

.dragging .group.active {
  z-index: 4;
}

.divider.group {
  border: none;
  padding: 0;
}

.group > span {
  display: block;
  position: absolute;
  width: 100%;
  transition: background-color 0.5s, opacity 0.5s;
}

.dragging .group > span {
  will-change: transform;
}

.group:not(.active):not(.newly-created) > span {
  transition: transform 0.5s;
}

.group .header {
  height: 4rem;
}

.group .header span {
  position: absolute;
  top: 1rem;
  transition: transform 0.25s, opacity 0.25s;
}

.group .header .gripper,
.group .header .toggle {
  width: 4.7rem;
  height: 4rem;
  top: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.group .header .gripper {
  left: 0;
  background-image: url('images/move_gripper.png');
  opacity: 0;
  transform: translate(-3.7rem, 0);
}

.edit-mode .group .header .gripper {
  opacity: 1;
  transform: translate(0, 0);
}

.group .header .title {
  left: 1.4rem;
  /* This is full width - gripper - toggle - padding */
  width: calc(100% - 2.7rem - 2.7rem - 2.8rem);
  height: 4rem;

  text-align: left;
  vertical-align: middle;
  color: white;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.45);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}

.group .header .title.empty {
  opacity: 0;
  color: #989898;
}

.edit-mode .header .title {
  transform: translate(3.3rem, 0);
}

.edit-mode .header .title.empty {
  opacity: 1;
}

.group .header .toggle {
  right: 0;
  background-image: url('images/collapse_arrow.png');
}

.group.collapsed .header .toggle {
  transform: rotateZ(180deg);
}

.group.active .header .toggle {
  opacity: 0.5;
}

.group .background {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  height: 0.1rem;
  transform-origin: 0 0;
}

.edit-mode .group:not(.newly-created) .background {
  opacity: 1;
}

.group.active .background {
  background-color: rgba(51, 51, 51, 0.9);
}

.group.hovering .background {
  background-color: rgba(27, 185, 225, 0.5);
}

.group.active .shadow {
  box-shadow: 0 0.9rem 1.2rem rgba(0, 0, 0, 0.63);
}

.group .separator {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 0.8rem;
  pointer-events: none;
}

.group .separator > span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.25s, opacity 0.25s;
  opacity: 0;
}

.edit-mode .group .separator {
  opacity: 0;
}

.dragging .group:not(.active) .separator {
  opacity: 1;
}

.dragging .group:not(.active) .separator > span {
  background-color: #0095dd;
  transform: scaleY(0.325);
  opacity: 0.4;
}

.dragging .group.hovered:not(.active) .separator > span {
  transform: scaleY(1);
  opacity: 1;
}
